.main{
    margin: 20% 10%;
    background-color: rgb(232, 209, 248);
    text-align: center;
    border-radius: 15px;
    h1{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    img{
        width:50%;
        height:50%;
        border-radius: 20px;
    }
    p{
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
    }
    #start{
        width: 30%;
        height: 15%;
        font-size: 15px;
        margin-bottom: 20px;
        border-radius: 15px;
        &:hover{
            background-color: rgba(139, 93, 128, 0.671);  
            color: white;
        }
        &:focus{
            background-color: rgb(53, 51, 51);
        }
    }
}
