.qna{
    margin: 5% 5%;
    text-align: center;
    border-radius: 15px;
    h1{
        margin-top:10%;
        background-color: beige;
    }
    .qBox{
        text-align: center;
        border-radius: 30px;
        font-size: 20px;
        background-color: beige;
        padding: 5% 10%;
        margin: 10% 0%;
    }
    .answerbox{
        margin-top: 5%;
    }
    .answerList{
        width:100%;
        padding: 3%;
        font-size: 15px;
        border-radius: 30px;
        margin-bottom: 5%;
        &:hover{
            background-color: rgba(139, 93, 128, 0.671);  
            color: white;
        }
        &:focus{
            background-color: rgb(53, 51, 51);
        }
    }
    .status{
        height: 20px;
        width: 100%;
        background-color: white;
        border-radius: 25px;
        .statusbar{
            border-radius: 15px;
            height: 100%;
            background-color: rgb(250, 106, 250);
        }
    }
    
}