@import "_variables.scss";
.qna{
    width: 80%;
    height: 60%;
    padding: 5% 10%;
    text-align: center;
    border-radius: 15px;
    background-color: $wh;
    h1{
        margin-top:10%;
        background-color: $qbox;
        border-radius: 15px;
    }
    .qBox{
        text-align: center;
        border-radius: 30px;
        font-size: 26px;
        background-color: $qbox;
        padding: 5% 10%;
        margin: 10% 0%;
    }
    .answerbox{
        margin-top: 5%;
    }
    .answerList{
        width:100%;
        padding: 3%;
        font-size: 22px;
        border-radius: 30px;
        margin-bottom: 5%;
        &:hover{
            background-color: $bl;  
            color: white;
        }
        &:focus{
            background-color: $gr;
        }
    }
    .status{
        height: 20px;
        width: 100%;
        background-color: rgba(149, 147, 147, 0.863);
        border-radius: 5px;
        border: solid 2px rgb(253, 252, 250);
        .statusbar{
            height: 100%;
            background-color: rgb(10, 85, 246);
            font-size: 20px;
            color: $wh;
        }
        .statusbarSmall{
            border-radius: 15px;
            height: 100%;
            background-color: rgb(59, 190, 207);
            font-size: 15px;
        }
    }
    @media(max-width: 500px){
        h1{
            font-size: 20px;
        }
        .status{
            .statusbar{
                display: none;
            }
            .statusbarSmall{
                display: block;
            }
        }
        
    }
    
}