@import "_variables.scss";

.result{
    background-color: $wh;
    border-radius: 25px;
    height: 80%;
    margin: 20% 5%;
    text-align: center;
    h1{
        padding-top: 5%;
    }
    img{
        width: 30%;
        height: 30%;
    }
    .resultname{
        background-color: $bl;
        color: $wh;
        padding: 5% 5%;
        font-size: 20px;
        width: 80%;
        margin: 5%;
        border-radius: 15px;
        text-decoration: underline;
    }
    .resultDescription{
        padding: 5% 10%;
        font-size: 15px;
    }
    #restart{
        width:30%;
        height: 10%;
        font-size: 20px;
        margin: 5% 5%;
        border-radius: 25px;
        &:hover{
            background-color: $gr;
            color: white;
        }
    }
    @media(min-width:630px){
        margin: 5% 15%;
        h1{
            font-size: 35px;
        }
        .resultname{
            font-size: 35px;
        }
        .resultDescription{
            font-size: 25px;
            padding: 5% 5%;
        }
        #restart{
            margin-top:0%;
        }
    }
    @media(min-width: 1200px){
        margin: 5% 20%; 
        h1{
            font-size: 45px;
        }
    }
}