@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import "_variables.scss";

*{
    font-family: 'Nanum Pen Script', cursive;
    word-break: keep-all;
}
.hidden{
    display: none;
}

body{
    background-color: $bg;
}

.default{
    margin: 5% 5%;
}
.statusbarSmall{
    display: none;
}