@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

*{
    font-family: 'Nanum Pen Script', cursive;
}
.hidden{
    display: none;
}

body{
    background-color: rgb(177, 130, 195);
}

.default{
    margin: 5% 5%;
}
.statusbarSmall{
    display: none;
}