@import "_variables";

body{
    background-color: black;
    margin-top: 200px;
    z-index:100;
    .main{
        margin-left:$left-margin;
        width: 50%;
        height: 100vh;
        background-image: url("bg.jpg");
        .sun{
            z-index:10;
            position: absolute;
            top:0;
            left: 30%;
            width:350px;
            height: 250px;
            object-fit: cover;
            margin:0px;
            font-size: 450px;
            color:$white;
            opacity: 0.3;
        }
        .text1{
            font-family: 'ChunkFive', sans-serif;
            color: $white;
            text-transform: uppercase;
            .all{
                position:absolute;
                top: 230px;
                left: 38%;
                font-size: 180px;
                transform: rotate(1.5deg);
                font-family: 'ChunkFive', sans-serif;
                letter-spacing: 10px;
                text-shadow: 4px 4px rgb(181,193,184);
            }
            .human{
                position:absolute;
                top: 390px;
                left: 38%;
                font-size: 45px;
                text-shadow: 2px 5px rgb(181,193,184);
            }
            .free{
                position:absolute;
                top: 410px;
                left: 38%;
                font-size: 145px;
                text-shadow: 5px 5px rgb(181,193,184);
            }
        }
        .about, .follow{
            background-color: white;
            position: absolute;
            right: 26%;
            font-family: 'ChunkFive', sans-serif;
            color:rgb(195,209,203);
            padding: 3px 5px;
            font-size: 13px;
            transform: rotate(-0.2deg);
            box-shadow: 2px 2px 1px rgb(184, 182, 182);
        }
        .about{
            top: 220px;
        }
        .follow{
            top: 255px;
        }
        .born{
            writing-mode:vertical-lr;
            transform: rotate(180deg);
            position:absolute;
            top: 455px;
            left: 39%;
            font-size: 13px;
            font-weight: 400;
            color: rgb(195,209,203);
            font-family: 'Goudy Old Style', sans-serif;
            font-weight: 100;
            text-transform: uppercase;
            z-index: 30;
        }
        .box_up, .box_down{
            position: absolute;
            left: 47%;
            transform: rotate(-0.2deg);
            width: 220px;
            height: 55px;
            background-color: $white;
            box-shadow: 3px 3px rgb(181,193,184) ;
        }
        .box_up{
            top: 557px;
        }
        .equal{
            position: absolute;
            top: 620px;
            left: 50%;
            color:rgb(237,242,238);
            font-size: 16px;
            font-family: 'Alfa Slab One', cursive;
        }
        .box_down{
            top: 650px;
        }
        .amp{
            font-family: 'Playfair Display', serif;
            font-size: 200px;
            color:$white;
            position:absolute;
            top: 520px;
            left: 36%;
        }
        .dignity{
            font-size: 30px;
            position: absolute;
            top: 710px;
            left: 38%;
            text-shadow: 2px 7px rgb(181,193,184);
            transform: rotate(-1.5deg);
            z-index: 100;
            background-color: rgb(195,209,203);
            padding-left: 2px;
        }
        .paragraph{
            position: absolute;
            top: 750px;
            left: 38%;
            width: 9%;
            font-size: 4px;
            transform: rotate(-1.5deg);
            text-align: justify;
        }
        .brother{
            color:rgb(195,209,203);
            background-color: $white;
            position: absolute;
            top: 750px;
            left: 47.5%;
            transform: rotate(-1deg);
            width: 11%;
            text-align: center;
            font-size: 25px;
            padding: 2px 0px;
            box-shadow: 5px 5px rgb(181,193,184);
        }
    }
}