body {
  background-color: black;
  margin-top: 200px;
  z-index: 100;
}

body .main {
  margin-left: 25%;
  width: 50%;
  height: 100vh;
  background-image: url("bg.jpg");
}

body .main .sun {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 30%;
  width: 350px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px;
  font-size: 450px;
  color: #edf2ee;
  opacity: 0.3;
}

body .main .text1 {
  font-family: 'ChunkFive', sans-serif;
  color: #edf2ee;
  text-transform: uppercase;
}

body .main .text1 .all {
  position: absolute;
  top: 230px;
  left: 38%;
  font-size: 180px;
  -webkit-transform: rotate(1.5deg);
          transform: rotate(1.5deg);
  font-family: 'ChunkFive', sans-serif;
  letter-spacing: 10px;
  text-shadow: 4px 4px #b5c1b8;
}

body .main .text1 .human {
  position: absolute;
  top: 390px;
  left: 38%;
  font-size: 45px;
  text-shadow: 2px 5px #b5c1b8;
}

body .main .text1 .free {
  position: absolute;
  top: 410px;
  left: 38%;
  font-size: 145px;
  text-shadow: 5px 5px #b5c1b8;
}

body .main .about, body .main .follow {
  background-color: white;
  position: absolute;
  right: 26%;
  font-family: 'ChunkFive', sans-serif;
  color: #c3d1cb;
  padding: 3px 5px;
  font-size: 13px;
  -webkit-transform: rotate(-0.2deg);
          transform: rotate(-0.2deg);
  -webkit-box-shadow: 2px 2px 1px #b8b6b6;
          box-shadow: 2px 2px 1px #b8b6b6;
}

body .main .about {
  top: 220px;
}

body .main .follow {
  top: 255px;
}

body .main .born {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  top: 455px;
  left: 39%;
  font-size: 13px;
  font-weight: 400;
  color: #c3d1cb;
  font-family: 'Goudy Old Style', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  z-index: 30;
}

body .main .box_up, body .main .box_down {
  position: absolute;
  left: 47%;
  -webkit-transform: rotate(-0.2deg);
          transform: rotate(-0.2deg);
  width: 220px;
  height: 55px;
  background-color: #edf2ee;
  -webkit-box-shadow: 3px 3px #b5c1b8;
          box-shadow: 3px 3px #b5c1b8;
}

body .main .box_up {
  top: 557px;
}

body .main .equal {
  position: absolute;
  top: 620px;
  left: 50%;
  color: #edf2ee;
  font-size: 16px;
  font-family: 'Alfa Slab One', cursive;
}

body .main .box_down {
  top: 650px;
}

body .main .amp {
  font-family: 'Playfair Display', serif;
  font-size: 200px;
  color: #edf2ee;
  position: absolute;
  top: 520px;
  left: 36%;
}

body .main .dignity {
  font-size: 30px;
  position: absolute;
  top: 710px;
  left: 38%;
  text-shadow: 2px 7px #b5c1b8;
  -webkit-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
  z-index: 100;
  background-color: #c3d1cb;
  padding-left: 2px;
}

body .main .paragraph {
  position: absolute;
  top: 750px;
  left: 38%;
  width: 9%;
  font-size: 4px;
  -webkit-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
  text-align: justify;
}

body .main .brother {
  color: #c3d1cb;
  background-color: #edf2ee;
  position: absolute;
  top: 750px;
  left: 47.5%;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  width: 11%;
  text-align: center;
  font-size: 25px;
  padding: 2px 0px;
  -webkit-box-shadow: 5px 5px #b5c1b8;
          box-shadow: 5px 5px #b5c1b8;
}
/*# sourceMappingURL=style.css.map */