body {
  width: 100%;
  margin: 0px;
  height: auto;
  background-color: #E9ECF1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.header {
  z-index: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 90px;
      grid-template-rows: 40px 90px;
  width: 100%;
  height: 130px;
  position: fixed;
}

.inactiveheader {
  display: none;
}

.inactivemobileheader {
  display: none;
}

.mobileheader {
  z-index: 3;
  width: 100%;
  position: fixed;
  height: 55px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileheader .mhi {
  margin-left: 20px;
  margin-right: 20px;
}

.activeheader {
  z-index: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 400px;
      grid-template-rows: 40px 400px;
  width: 100%;
  height: 440px;
  position: fixed;
  border-bottom: black 1px solid;
}

.nav1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  background-color: #2B4365;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

.nav1 .nav1left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}

.nav1 .nav1left .nav-link-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: #556984 1px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.nav1 .nav1left .nav-link-left:nth-child(1) {
  border-left: #556984 1px solid;
}

.nav1 .nav1right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
}

.nav1 .nav1right .nav-link-right {
  color: white;
  background-color: #0174B7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-right: solid 1px #556984;
}

.nav1 .nav1right .nav-link-right:nth-child(1) {
  border-left: solid 1px #556984;
}

.nav2 {
  background-color: white;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px 0px;
      grid-template-rows: 90px 0px;
}

.nav2 .mainmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav2 .mainmenu .menuitems {
  padding-left: 20px;
  padding-right: 20px;
}

.nav2 .mainmenu .etc:nth-child(1) {
  padding-right: 40px;
}

.activenav2 {
  background-color: white;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px 0px;
      grid-template-rows: 90px 0px;
}

.activenav2 .mainmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activenav2 .mainmenu .menuitems {
  padding-left: 20px;
  padding-right: 20px;
}

.submenu {
  display: none;
}

.activesubmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 310px;
}

.activesubmenu .logosizer {
  width: 214px;
}

.activesubmenu .submenuitemcontainer {
  width: 550.453px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (110px)[5];
      grid-template-columns: repeat(5, 110px);
  height: 300px;
}

.activesubmenu .submenuitemcontainer .subcolumn {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px #E8EBEF solid;
}

.activesubmenu .submenuitemcontainer .subcolumn:nth-child(1) {
  border-left: solid 1px #E8EBEF;
}

.activesubmenu .submenuitemcontainer .subcolumn .scl {
  padding-left: 10px;
  margin-bottom: 20px;
}

.activesubmenu .submenuitemcontainer .subcolumn .scl:hover {
  color: #017DD4;
}

.activesubmenu .etcsizer {
  width: 100.625px;
}

.activesidebar {
  margin-left: auto;
  background-color: #0174B7;
  height: auto;
  width: 235px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
  z-index: 5;
  float: right;
}

.activesidebar .sidebar-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px 55px;
      grid-template-columns: 180px 55px;
  height: 50px;
}

.activesidebar .sidebar-top .sidebarmargin {
  background-color: #00263E;
  height: 55px;
}

.activesidebar .sidebarmain {
  background-color: #0174B7;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 34px;
}

.activesidebar .sidebarmain .sidebaritems {
  color: white;
  border-bottom: #01659F 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.activesidebar .sidebarmain .sidebaritems:hover {
  color: #0165C3;
  border-bottom: #01659F 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.activesidebar .sidebarmain .sidebartitles {
  color: #78A7C9;
  border-bottom: #01659F 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
}

.inactivesidebar {
  display: none;
}

.mobilemain {
  z-index: 0;
  position: absolute;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobilemain .banners {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 340px;
      grid-template-columns: 340px 340px;
  -ms-grid-rows: 500px 240px 220px;
      grid-template-rows: 500px 240px 220px;
  grid-gap: 20px;
  margin-bottom: 10px;
}

.mobilemain .banners .banner1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.mobilemain .banners .banner2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.mobilemain .banners .banner3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.mobilemain .banners .banner4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.mobilemain .articles {
  width: 700px;
  height: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 340px;
      grid-template-columns: 340px 340px;
  grid-gap: 20px;
}

.mobilemain .articles .articlecolumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobilemain .articles .articlecolumns .articlebox {
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
}

.mobilemain .articles .articlecolumns .articlebox .notice {
  background-color: #4390EF;
  color: white;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.mobilemain .articles .articlecolumns .articlebox .jobinfo {
  background-color: #C11444;
  color: white;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.mobilemain .articles .articlecolumns .articlebox .labs {
  background-color: #6B7176;
  color: white;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.mobilemain .articles .articlecolumns .articlebox .articletitle {
  font-weight: 900;
  margin-bottom: 10px;
}

.mobilemain .articles .articlecolumns .articlebox .articledate {
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
}

.mobilemain .articles .articlecolumns .articlebox .articletext {
  font-size: 14px;
}

.main {
  z-index: 0;
  position: absolute;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .banners {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 340px;
      grid-template-columns: 340px 340px;
  -ms-grid-rows: 500px 240px 220px;
      grid-template-rows: 500px 240px 220px;
  grid-gap: 20px;
  margin-right: 10px;
}

.main .banners .banner1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.main .banners .banner2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.main .banners .banner3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.main .banners .banner4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.main .articles {
  width: 700px;
  height: 1000px;
  margin-left: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 340px;
      grid-template-columns: 340px 340px;
  grid-gap: 20px;
}

.main .articles .articlecolumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .articles .articlecolumns .articlebox {
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
}

.main .articles .articlecolumns .articlebox .notice {
  background-color: #4390EF;
  color: white;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main .articles .articlecolumns .articlebox .jobinfo {
  background-color: #C11444;
  color: white;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main .articles .articlecolumns .articlebox .labs {
  background-color: #6B7176;
  color: white;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main .articles .articlecolumns .articlebox .articletitle {
  font-weight: 900;
  margin-bottom: 10px;
}

.main .articles .articlecolumns .articlebox .articledate {
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
}

.main .articles .articlecolumns .articlebox .articletext {
  font-size: 14px;
}

.inactivesidebarbackground {
  display: none;
}

.activesidebarbackground {
  z-index: 4;
  position: fixed;
  background-color: #334855;
  opacity: 70%;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */