body{
    width: 100%;
    margin: 0px;
    height: auto;
    background-color: #E9ECF1;
    display: flex;
}
a{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.header{
    display: grid;
    grid-template-rows: 40px 90px;
    width: 100%;
    height: 130px;
    position: fixed;
}
.inactiveheader{
    display: none;
}
.inactivemobileheader{
    display: none;
}
.mobileheader{
    width: 100%;
    position: fixed;
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mhi{
        margin-left: 20px;
        margin-right: 20px;
    }
}
.activeheader{
    display: grid;
    grid-template-rows: 40px 400px;
    width: 100%;
    height: 440px;
    position: fixed;
}
.nav1{
    width: 100%;
    display: flex;
    height: 40px;
    background-color: #2B4365;
    justify-content: space-between;
    font-size: 12px;
    .nav1left{
        display: flex;
        padding-left: 50px;
        .nav-link-left{
            display: flex;
            border-right: #556984 1px solid;
            justify-content: center;
            align-items: center;
            color: white;
            padding-left: 15px;
            padding-right: 15px;
            &:nth-child(1){
                border-left: #556984 1px solid;
            }
        }
    }
    .nav1right{
        display: flex;
        padding-right: 50px;
        .nav-link-right{
            color: white;
            background-color: #0174B7;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            border-right: solid 1px #556984;
            &:nth-child(1){
                border-left: solid 1px #556984;
            }
        }
    }
}
.nav2{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-rows: 90px 0px;
    .mainmenu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .menuitems{
            padding-left: 20px;
            padding-right: 20px;
        }
        .etc{
            &:nth-child(1){
                padding-right: 40px;
            }
        }
    }
}
.activenav2{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-rows: 90px 0px;
    .mainmenu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .menuitems{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
.submenu{
    display: none;
}
.activesubmenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 310px;
    .logosizer{
        width: 214px;
    }
    .submenuitemcontainer{
        width: 550.453px;
        display: grid;
        grid-template-columns: repeat(5,110px);
        height: 300px;
        .subcolumn{
            font-size: 12px;
            display: flex;
            flex-direction: column;
            border-right: 1px #E8EBEF solid;
            &:nth-child(1){
                border-left: solid 1px #E8EBEF;
            }
            .scl{
                padding-left: 10px;
                margin-bottom: 20px;
            }
        }
    }
    .etcsizer{
        width: 100.625px;
    }
}
.activesidebar{
    margin-left: auto;
    background-color: #0174B7;
    height: 600px;
    width: 235px;
    display: grid;
    grid-template-rows: 50px auto;
    z-index: 0;
    .sidebar-top{
        display: grid;
        grid-template-columns: 180px 55px;
        height: 50px;
        .sidebarmargin{
            background-color: #00263E;
            height: 55px;
        }
    }
}
.inactivesidebar{
    display: none;
}