@media only screen and (max-width: 1000px)
body{
    background-color:#E9ECF1;
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    text-decoration:none;
}
a{
    text-decoration:none;
    color:white;
}

/*  header랑 nav는 그냥 css block 이용하기*/
.top{
    display:block;
    position:fixed;
    width:100%;
    top:0;
}
.header{
    display:flex;
    text-decoration:none;
    width:100%;
    height: 40px;
    background-color:#2b4365;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    line-height: 1.2;
    
    

}
/*headerleft랑 header right-->flexbox쓰기!!*/
.headerleft{
    float: left;
    display:flex;
    justify-content:spance-between;
    
    margin:13px;
    height:40px;
    font-size:13px;
    padding:0 22px;
    
    line-height: 1.2;
    
    
    
    

}
.headerleft.box{
    
    background-color:#2b4365;
    color:white;
    
    
    
}
.headerright{
    float:right;
    display:flex;
    justify-content:space-around;
    margin:13px;
    height:40px;
    font-size:13px;
    padding:0 22px;
    
    line-height: 1.2;
    
}
.headerright.box{
    background-color: #0174b7;
    color:white;

}
.nav{
    display:flex;
    width:100%;
    height: 89px;
    background-color: white;
    border-bottom: 1px solid #dee1e6;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    line-height: 1.2;
    color: #212121;
    

}
/*main: grid: 크기 정하기 딱 절반*/


.main{
    display:block;
    height: 600px;
    background-color: #e9ecf1;
    padding-bottom: 30px;
    
    padding-top: 25px;
    margin-top: 130px;
    
}
.mainleft{
    display:flex;
    flex-direction: column;
    width: 700px;
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    line-height: 1.2;
    color: #212121;
    margin-top: 20px;
    margin-left: 20px;
    
    margin-right: 20px;

}
.mainleftline1{
    
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
}
.mainleftline2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    
}
.mainleftline3{
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
/*
.mainleftline2:nth-child(2){이거 맞아...?
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/


.mainright{
    display: flex;
    flex-direction: row;
    

}
/*mainrightinfo,mainrightarticle-->grid사용!!!!*/
.mainrightinfo{
    margin: 20px 5px 10px 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color:white;
    color:black;
    margin=left;

}
.mainrightinfobox{
    display:block;
    padding: 15px 15px 20px 15px;
    margin-top:20px;
    width: calc(100% - 40px);
    background-color:white;
    color:black;
    line-height:1.2;
}
.mainrightarticle{
    margin: 20px 5px 10px 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color:white;
    color:black;
    margin=left;

}
.mainrightarticlebox{
    display:block;
    padding: 15px 15px 20px 15px;
    margin-top:20px;
    width: calc(100% - 40px);
    background-color:white;
    color:black;
    line-height:1.2;
}


/*footer도 그냥 block이용하기*/
.footer{
    display:block;
    height: 145px;
    background-color: #212121;
    
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    line-height: 1.2;
    color:white;

}