h1{
    text-align: center;
    color: blue;
    border-bottom: black 1px solid;
}

.vocabularySets{
    column-count: 2;
}

.vocabularySets:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted red;
    transform: translate(-50%);
}
.frame{
    margin: 10px; /*auto 생략 */
    border: 5px solid black;
    position: relative;
}
.frame div{
    margin-left: 10px;
    margin-right: 10px;
}
div {
    margin: 10px;
    border: 1px solid black;
    position: relative;
}

li button{
    margin-left: 15px;
}

@media(max-width: 576px){
    .vocabularySets{
        column-count: 1;
    }
    .vocabularySets:after{
        border-left: none;
    }
    /* #grid{
        display: grid;
        grid-template-rows: 50px 30px 1fr;
    } */
}